.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  /* border-bottom: 4px solid #bdc3c7 !important; */
  border-bottom: 4px solid #bdc3c7 !important;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid grey !important;
  position: relative !important;
}
.programs-code {
	border-radius: 50%;
    behavior: url(PIE.htc);
    width: 110px;
    height: 110px;
    padding-top: 12%;
    background: #bdc3c7;
    border: 2px solid #bdc3c7;
    color: #fff;
    text-align: center;
    font-size: 28px;
    -webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

.valign {
	vertical-align: middle;
}