<div class="modal fade" id="add_class_student" role="add_class_student" data-backdrop="static" data-keyboard="false" data-attention-animation="true" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title uppercase">Add Students</h4>
			</div>
			<div class="modal-body">

				<div class="portlet-body form">
				<!-- BEGIN FORM-->
				<form action="<?php echo base_url('classes/addClassMemberManually'); ?>" method="POST" class="form-horizontal form-bordered form-label-stripped">
					<div class="form-body">
						<div class="form-group">
							<label class="control-label col-md-3">Students</label>
								<div class="col-md-8">
									<select multiple id="students"class="form-control select2 input-inline input-xlarge" name="students[]" required>
									</select>
								</div>
						</div>
						<input type="hidden" id="id" name="class_id">		
					</div>
				</div>
			</div>
			<div class=" modal-footer">
				<div class="row">
					<div class="col-md-offset-3 col-md-9">
						<button type="button" class="btn default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn green"><i class="fa fa-check"></i> Save</button>
					</form>
					</div>
				</div>
			</div>
			<!-- END FORM-->
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- ./modal -->