<div class="modal fade" id="addcourse" tabindex="-1" role="addsubject" data-backdrop="static" data-keyboard="false" data-attention-animation="true" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title uppercase">Add Course</h4>
			</div>
			<div class="modal-body">
				<div class="portlet-body form">
				<!-- BEGIN FORM-->
				<form action="<?php echo base_url('courses/addCourse'); ?>" method="POST" class="form-horizontal form-bordered form-label-stripped">
				<?php echo validation_errors(); ?>
					<div class="form-body">
						<div class="form-group">
							<label class="control-label col-md-3">Program Code</label>
								<div class="col-md-9">
									<select name="program_id" class="form-control ajaxPrograms select2me" data-placeholder="Select...">
									</select>
								</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3">Course Code</label>
								<div class="col-md-9">
										<input type="text" name="course_code" placeholder="ex. ICT110" class="form-control"/>
								</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3">Course Title</label>
								<div class="col-md-9">
										<input type="text" name="course_title" class="form-control"/>
								</div>
						</div>
						<div class="form-group">
						<label class="control-label col-md-3">Required Year</label>
							<div class="col-md-9">
								<div id="class_requiredyears">
									<div class="input-group input-small">
										<input type="text" name="req_year"class="spinner-input form-control" maxlength="3" readonly>
										<div class="spinner-buttons input-group-btn btn-group-vertical">
											<button type="button" class="btn spinner-up btn-xs blue">
												<i class="fa fa-angle-up"></i>
											</button>
											<button type="button" class="btn spinner-down btn-xs blue">
												<i class="fa fa-angle-down"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
						<label class="control-label col-md-3">Required Semester</label>
							<div class="col-md-9">
								<div id="class_requiredsemester">
									<div class="input-group input-small">
										<input type="text" name="req_semester"class="spinner-input form-control" maxlength="3" readonly>
										<div class="spinner-buttons input-group-btn btn-group-vertical">
											<button type="button" class="btn spinner-up btn-xs blue">
												<i class="fa fa-angle-up"></i>
											</button>
											<button type="button" class="btn spinner-down btn-xs blue">
												<i class="fa fa-angle-down"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class=" modal-footer">
				<div class="row">
					<div class="col-md-offset-3 col-md-9">
						<button type="button" class="btn default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn green"><i class="fa fa-check"></i> Save</button>
					</form>
					</div>
				</div>
			</div>
			<!-- END FORM-->
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- ./modal -->