<div id="viewconsultation" class="modal fade"  role="dialog" aria-labelledby="viewconsultationLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="background:#14B9D6">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title uppercase">Topic</h4>
			</div>

			<div class="modal-body form-horizontal form-bordered form-row-stripped">
			<form action=""class="form-horizontal form-bordered form-row-stripped">
				<div class="form-body">
					<div class="form-group">
						<label class="col-md-4 control-label">Consultation ID</label>
						<div class="col-md-8">
							<h4 class="form-control-static" id="consultation_id"></h4>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">Consultation Topic</label>
						<div class="col-md-8">
							<h4 class="form-control-static uppercase" id="consultation_topic" data-type="text" data-pk="1" data-url="/post" data-title="Enter Topic"></h4>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">Consultation Date</label>
						<div class="col-md-8">
							<!-- <h4 class="form-control-static uppercase date" id="consultation_date"></h4> -->

							<a href="javascript:;" id="consultation_date" data-type="date" data-viewformat="dd.mm.yyyy" data-pk="1" data-placement="right"><h4></h4>
										</a>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">Consultation Content</label>
						<div class="col-md-8">
							<h4 class="form-control-static" id="consultation_content" data-type="wysihtml5"></h4>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">Consultees</label>
						<div class="col-md-8">
							<h4 class="form-control-static" id="consultees" data-type="select2"></h4>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="row">
					<div class="col-md-offset-3 col-md-9">
						<?php if($this->session->userdata('user_role') != 'student'): ?>

						<button id="delete_consultation" type="button" class="btn red"><i class="fa fa-trash"></i> Delete</button>
						<?php endif; ?>
						<button type="button" class="btn default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
			<!-- END FORM-->
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- ./modal -->