<div class="modal fade" id="importusers" tabindex="-1" role="viewcourse" aria-hidden="true">
	<div class="modal-dialog container">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">IMPORT USERS</h4>
			</div>
			<div class="modal-body">
				<div class="portlet light">
					<div class="portlet-body">
						<div class="row">
							<div class="col-md-12">
								<form id="fileupload" action="<?php echo base_url('users/importUsers'); ?>" method="POST" enctype="multipart/form-data">
									<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
									<div class="row fileupload-buttonbar">
										<div class="col-lg-7">
											<!-- The fileinput-button span is used to style the file input field as button -->
											<span class="btn green fileinput-button">
											<i class="fa fa-plus"></i>
											<span>
											Add files... </span>
											<input type="file" name="userfile" accept=".csv">
											</span>
											<button type="submit" class="btn blue start">
											<i class="fa fa-upload"></i>
											<span>
											Start upload </span>
											</button>
											<button type="reset" class="btn warning cancel">
											<i class="fa fa-ban-circle"></i>
											<span>
											Cancel upload </span>
											</button>
											<button type="button" class="btn red delete">
											<i class="fa fa-trash"></i>
											<span>
											Delete </span>
											</button>
											<input type="checkbox" class="toggle">
											<!-- The global file processing state -->
											<span class="fileupload-process">
											</span>
										</div>
										<!-- The global progress information -->
										<div class="col-lg-5 fileupload-progress fade">
											<!-- The global progress bar -->
											<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
												<div class="progress-bar progress-bar-success" style="width:0%;">
												</div>
											</div>
											<!-- The extended global progress information -->
											<div class="progress-extended">
												 &nbsp;
											</div>
										</div>
									</div>
									<!-- The table listing the files available for upload/download -->
									<table role="presentation" class="table table-striped clearfix">
									<tbody class="files">
									</tbody>
									</table>
								</form>
								<div class="panel panel-success">
									<div class="panel-heading">
										<h3 class="panel-title">Demo Notes</h3>
									</div>
									<div class="panel-body">
										<ul>
											<li>
												 The maximum file size for uploads in this demo is <strong>5 MB</strong> (default file size is unlimited).
											</li>
											<li>
												 Uploaded files will be deleted automatically after <strong>5 minutes</strong> (demo setting).
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
				<div class="modal-footer">
					<button type="button" class="btn default" data-dismiss="modal">Close</button>
				</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->