<div class="se-pre-con"></div>
<input type="hidden" id="srrl" value="<?= $this->session->userdata('user_role') ?>">
<div class="page-header md-shadow-z-1-i navbar navbar-fixed-top">
	<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner container">
		<!-- BEGIN LOGO -->
		<div class="page-logo">
 			<img src="/../assets/global/img/logo/dcislogo.png" style="margin-top:8px;margin-left:15px;" height="50px" width="110px" alt="logo" class="logo"/>
  		</div>
		<!-- END LOGO -->
		<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
		</a>
		<!-- BEGIN PAGE ACTIONS -->
		<!-- DOC: Remove "hide" class to enable the page header actions -->
		<!-- END PAGE ACTIONS -->
		<!-- BEGIN PAGE TOP -->
		<div class="page-top">
			<!-- BEGIN HEADER SEARCH BOX -->
			<!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
			<form class="search-form search-form-expanded" action="extra_search.html" method="GET" style="display:none;">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search..." name="query">
					<span class="input-group-btn">
					<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
					</span>
				</div>
			</form>
			<!-- END HEADER SEARCH BOX -->
			<!-- BEGIN TOP NAVIGATION MENU -->
			<div class="top-menu">
				<ul class="nav navbar-nav pull-right">
					<!-- BEGIN NOTIFICATION DROPDOWN -->
					<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
					<li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<i class="icon-bell"></i>
						<span class="badge badge-default">
						7
						</span>
						</a>
						<ul class="dropdown-menu">
							<li class="external">
								<h3><span class="bold">Latest </span> posted discussions</h3>
								<!-- <a href="extra_profile.html">view all</a> -->
							</li>
							<li>
								<ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
									<li>
										<a href="javascript:;">
										<span class="time">just now</span>
										<span class="details">
										<span class="label label-sm label-icon label-success">
										<i class="fa fa-plus"></i>
										</span>
										New user registered. </span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<!-- END NOTIFICATION DROPDOWN -->
					<!-- BEGIN INBOX DROPDOWN -->
					<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
					<li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar" title="Messages">
						<a href="<?= base_url('message') ?>" class="dropdown-toggle" id="msgctr"><!-- data-toggle="dropdown" data-hover="dropdown" data-close-others="true" -->
						<i class="icon-envelope-open"></i>
						</a>
						<!-- <ul class="dropdown-menu">
							<li class="external">
								<h3>You have <span class="bold">7 New</span> Messages</h3>
								<a href="<?php echo base_url(); ?>Message">view all</a>
							</li>
							<li>
								<ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
									<li>
										<a href="inbox.html?a=view">
										<span class="photo">
										<img src="/../assets/admin/layout3/img/avatar2.jpg" class="img-circle" alt="">
										</span>
										<span class="subject">
										<span class="from">
										Lisa Wong </span>
										<span class="time">Just Now </span>
										</span>
										<span class="message">
										Vivamus sed auctor nibh congue nibh. auctor nibh auctor nibh... </span>
										</a>
									</li>
								</ul>
							</li>
						</ul> -->
					</li>
					<!-- END INBOX DROPDOWN -->
					<!-- BEGIN TODO DROPDOWN -->
					<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
					<li class="dropdown dropdown-extended dropdown-tasks" id="header_task_bar" title="Tasks"> <!-- data-toggle="dropdown" data-hover="dropdown" data-close-others="true" -->
						<a href="<?= base_url('tasks') ?>" class="dropdown-toggle" id="tskctr">
						<i class="icon-docs"></i>
							<span class="badge badge-default taskcounthdr"></span>
						</a>
						<!-- <ul class="dropdown-menu extended tasks">
							<li class="external">
								<h3>You have <span class="bold">0</span> tasks</h3>
							</li>
							<li class="external">
								<h3>You have <span class="bold taskcounthdr"></span> tasks</h3>
								<a href="<?= base_url('tasks') ?>">view all</a>
							</li>
							<li>
								<ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
								
									<li>
										<a href="javascript:;">
										<span class="task">
										<span class="desc">New release v1.2 </span>
										<span class="percent">30%</span>
										</span>
										<span class="progress">
										<span style="width: 40%;" class="progress-bar progress-bar-success" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">40% Complete</span></span>
										</span>
										</a>
									</li>
								
								</ul>
							</li>
						</ul> -->
					</li>
					<!-- END TODO DROPDOWN -->
					<!-- BEGIN USER LOGIN DROPDOWN -->
					<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
					<li class="dropdown dropdown-user">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<?php
						$info = getUserInformation($this->session->userdata('school_id'), $this->session->userdata('user_role')); 
						foreach($info->result() as $info){
							
							$photo = $info->photo;
							$firstname = $info->firstname;
							$lastname = $info->lastname;
							$image = $info->image;
							$ext = $info->ext;

						}

if($image != NULL && $ext != NULL) { ?>
						<img alt="Profile Picture" class="img-circle" src="/../uploads/<?php echo $image.$ext; ?>"/>

						<?php } else {?>
						<img alt="Profile Picture" class="img-circle" src="<?php echo $photo; ?>"/>
						
<?php } ?>
						<span class="username username-hide-on-mobile">
						
<?php if($firstname != NULL && $lastname != NULL){
	echo $firstname." ".$lastname;
	} 
else {
	echo $this->session->userdata('school_id');
}
	?>
						 



						</span>
						<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-menu-default">
							<li>
								<a href="<?php echo base_url("profile/{$this->session->userdata('school_id')}"); ?>">
								<i class="icon-user"></i> My Profile </a>
							</li>
							<li>
								<a href="<?= base_url('calendar') ?>">
								<i class="icon-calendar"></i> My Calendar </a>
							</li>
							<li>
								<a href="<?php echo base_url('message'); ?>">
								<i class="icon-envelope-open"></i> My Inbox </a>
							</li>
							<li>
								<a href="<?= base_url('tasks') ?>">
								<i class="icon-rocket"></i> My Tasks </a>
							</li>
							<li class="divider">
							</li>
							<!-- <li>
								<a href="extra_lock.html">
								<i class="icon-lock"></i> Lock Screen </a>
							</li> -->
							<li>
							 <a href="<?= base_url('timeline/logout')?>">
								<i class="icon-key"></i> Log Out </a>
							</li>
						</ul>
					</li>
					<!-- END USER LOGIN DROPDOWN -->
				</ul>
			</div>
			<!-- END TOP NAVIGATION MENU -->
		</div>
		<!-- END PAGE TOP -->
	</div>
	<!-- END HEADER INNER -->
</div>
<!-- END HEADER
