<!-- BEGIN GLOBAL MANDATORY STYLES -->
<style type="text/css">
  html{
  overflow-y: scroll;
}

::-webkit-scrollbar-track
{
  background-color: #F5F5F5; /* color of the "background" */
}

::-webkit-scrollbar
{
  width: 5px; /* width of the scrollbar */
}

::-webkit-scrollbar-thumb
{
  background-color: #14B9D6; /* color of the GRIP */
}
</style>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
<link href="/../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
<link href="/../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
<link href="/../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
<link href="/../assets/dcis/sweetalert/sweetalert.css" rel="stylesheet" type="text/css"/>
<link rel="shortcut icon" href="/../assets/global/favicon.ico" type="image/x-icon">
<link rel="icon" href="/../assets/global/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

<!-- END GLOBAL MANDATORY STYLES -->