<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="" name="author"/>


<?php

$request = parse_url($_SERVER['REQUEST_URI']);
$path = $request["path"];
$current_url = rtrim(str_replace(basename($_SERVER['SCRIPT_NAME']), '', $path), '/');

$request_1 = substr(strrchr($path,'/'), 1);
$path_1 = substr($path, 0, - strlen($request_1));
$move_one = rtrim($path_1, "/");
$current_url_1 = $move_one; 

$current_url_2 = dirname($current_url_1);
 
?>

<script type="text/javascript">
    var BASE_URL = "<?php echo base_url();?>";
</script>
<script type="text/javascript" src="http://127.0.0.1:8080/socket.io/socket.io.js"></script>
<!-- <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script> -->