		<!-- BEGIN SIDEBAR -->
		<div class="page-sidebar-wrapper">
			<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
			<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
			<!-- <div class="sidebar"> -->
			<div class="page-sidebar navbar-collapse collapse" >
				<!-- BEGIN SIDEBAR MENU -->
				<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
				<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
				<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
				<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
				<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
				<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
				<ul id="sidebar" class="page-sidebar-menu page-sidebar-menu-accordion-submenu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" >
					<li class="start">
						<a href="<?= base_url('timeline')?>">
						<i class="icon-home"></i>
						<span class="title">Timeline</span>
						</a>
					</li>
					<li>
						<a href="<?= base_url('classes')?>">
						<i class="icon-notebook"></i>
						<span class="title">Classes</span>
						</a>
					</li>
					<?php 
						if($this->session->userdata('user_role')=="admin"){
					?>
					<li>
						<a href="<?= base_url('courses')?>">
						<i class="icon-screen-tablet"></i>
						<span class="title">Courses</span>
						</a>
					</li>

					<li>
						<a href="<?= base_url('programs')?>">
						<i class="icon-docs"></i>
						<span class="title"> Programs</span>
						</a>
					</li>
					<?php 
					}
					?>
					<li>
						<a href="<?= base_url('message')?>">
						<i class="icon-envelope-letter"></i>
						<span class="title">Messages</span>
						</a>
						<!-- <ul class="sub-menu">
							<li>
								<a href="<?= base_url('message/compose')?>"><i class="fa fa-pencil"></i> Compose</a>
							</li>
							<li>
								<a href="<?= base_url('message')?>">
								<span class="badge badge-roundless badge-danger">new</span><i class="fa fa-inbox"></i> Inbox</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-send"></i> Sent</a>
							</li>
							<li>
								<a href="#">
								<span class="badge badge-roundless badge-danger">new</span><i class="fa fa-edit"></i> Dratfs</a>
							</li>
							<li>
								<a href="#"><i class="icon-trash"></i> Trash</a>
							</li>
						</ul> -->
					</li>
					<li>
						<a href="<?= base_url('tasks')?>">
						<i class="icon-docs"></i>
						<span class="title">Tasks</span>
						</a>
					</li>
					<li>
						<a href="<?= base_url('calendar')?>">
						<i class="icon-calendar"></i>
						<span class="title">Calendar</span>
						</a>
					</li>
					
					<li>
						<a href="<?= base_url('consultation')?>">
						<i class="icon-docs"></i>
						<span class="title"> Consultations</span>
						</a>
					</li>
					<?php if($this->session->userdata('user_role')=="admin"): ?>
					<li>
						<a href="<?= base_url('users')?>">
						<i class="icon-user"></i>
						<span class="title">Users</span>
						</a>
					</li>
					<?php endif; ?>
					<!-- BEGIN ANGULARJS LINK -->
<!-- 					<li class="tooltips" data-container="body" data-placement="right" data-html="true" data-original-title="AngularJS version demo">
						<a href="angularjs" target="_blank">
						<i class="icon-paper-plane"></i>
						<span class="title">
						AngularJS Version </span>
						</a>
					</li> -->
					<!-- END ANGULARJS LINK -->
					<li>
						<a href="<?= base_url('settings')?>">
						<i class="icon-settings"></i>
						<span class="title">Settings</span>
						</a>
					</li>
				</ul>
				<!-- END SIDEBAR MENU -->
			</div>
			<!-- </div> -->
		</div>
		<!-- END SIDEBAR -->