<!-- BEGIN THEME STYLES -->
<link href="/../assets/global/css/components-md.css" id="style_components" rel="stylesheet" type="text/css"/>
<link href="/../assets/global/css/plugins-md.css" rel="stylesheet" type="text/css"/>
<link href="/../assets/admin/layout2/css/layout.css" rel="stylesheet" type="text/css"/>
<link id="style_color" href="/../assets/admin/layout2/css/themes/grey.css" rel="stylesheet" type="text/css"/>
<link href="/../assets/admin/layout2/css/custom.css" rel="stylesheet" type="text/css"/>
<link href="/../assets/admin/pages/css/todo.css" rel="stylesheet" type="text/css">
<!-- END THEME STYLES -->
<style type="text/css">.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(/../assets/global/img/page-pre-load-rubiks.gif) center no-repeat #fff;
}
</style>