<script src="/../assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="/../assets/admin/layout2/scripts/layout.js" type="text/javascript"></script>
<script src="/../assets/admin/layout2/scripts/demo.js" type="text/javascript"></script>
<script src="/../assets/admin/pages/scripts/index.js" type="text/javascript"></script>
<script src="/../assets/dcis/sweetalert/sweetalert.min.js" type="text/javascript"></script>
<script src="/../assets/admin/pages/scripts/notify.min.js" type="text/javascript"></script>
<script>
      jQuery(document).ready(function() {    
        Metronic.init(); // init metronic core components
		Layout.init(); // init current layout
		Demo.init(); // init demo features
      });
   </script>
</script>