/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/
.yellow {background:#C49F47;}
.green {background:#26A69A}
.red {background:#CB5A5E;}
.blue {background:#3598DC;}
.purple {background:#8E5FA2;}
.grey {background:#E5E5E5;}
.editActive{
    cursor: text;
  	border: 1px solid red !important;
  	min-height: 100px !important;
  	overflow: inherit !important;
  	margin: 4px !important;
}

.editcontent{
	min-height: 100px !important;
	display: block;
}

.editcommentcontent{
  cursor: text;
  border: 1px solid red !important;
  width: 90% !important;
  min-height: 100% !important;
  overflow: inherit !important;
  margin: 4px !important;
}
.post-img{
  margin-right: auto;
  margin-left: auto;
}

/*User pic distance from userID*/
.dist{
    margin-right: 5px;
}

/*Button placed to the right*/
.btntoright{
    padding:10px 0px 0px 0px;
    text-align: right;
}
.btntorightnopad{
    text-align: right;
}

.input {
border:0; 
padding:10px;
border:solid 1px #ccc;
-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2); 
-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2); 
box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
-webkit-border-radius: 3px; 
-moz-border-radius: 3px; 
border-radius: 1px;
}

.input:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 2px #719ECE;
}

@media (min-width: 991px){


.sidebar{
    position:fixed;
    z-index: 9999;

}

}